#set ($css_class = "${css_class} light dockbar-split")



##set ($site_logo_height = 36)
##set ($site_logo_width = 88)

## ---------- Footer Web Content ---------- ##
#if ($theme_settings.display-footer == true)
	#set ($css_class = "$css_class show-footer")
#end

#if ($theme_settings.footer-section-article-id)
	#set ($footer_section = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-article-id, null, "$locale", $theme_display))
#end